[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "oxidizer"]
	path = oxidizer
	url = git@github.com:shipit/oxidizer.git
[submodule "JSONKit"]
	path = JSONKit
	url = git://github.com/johnezang/JSONKit.git
